
@font-face {
	font-family: average-sans;
	src: url(fonts/AverageSans-Regular.ttf);
}

@font-face{
	font-family: ramsay-writes;
	text-color: #660000;
	src: url(fonts/GochiHand-Regular.ttf)
}

ul {
	text-align: left;
}

html {
	width:1200px;
	align: center;
	align-items: center;
	text-align: center;
	font-family: sans-serif;
	color: #777785;
	font-size:12pt;
	display: table;
	margin: auto;
	font-family: average-sans;
}

body {
	margin: auto;
	width: 100%;
	text-align: center;
}

body a {
	text-decoration: underline dotted;
	color: #00445f;
}

body p {
	text-align: justify;
	text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6 {
	color: #00445f;
	text-align: left;
}

h1 {
	font-size: 20pt;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 16pt;
}

h4 {
	font-size: 14pt;
}

h5 {
	font-size: 12pt;
}

h6 {
	font-size: 10pt;
}

header {
	background-color: #eeeeee;
	padding: 0em;
	text-align: center;
}

blockquote {
	font-style: italic;
	padding-left: 10px;
	border-left: solid 1px #eeeeee; 
}

div.inst_name {
	color: #00445f;
}

div.logo_text_lang {
	display: flex;
	align-items: center;
	margin: auto;
	width:100%;
	padding-bottom:10px;
}

div.logo_text_lang img.logo {
	height: 70px;
	padding: 10px;
	margin-left: 28px;
}

div.logo_text_lang div.inst_name {
	font-size: 15pt;
}

div.filler {
	flex: 1;
}

div.logo_text_lang div.deutsch {
	font-size: 11;
	margin-right:5px;
}

.deutsch a {
	color: #777785;
	text-decoration: none;
}

div.navigator {
	border: solid 1px #eeeeee;
	background-color: #eeeeee;
	align-items: center;
	padding-bottom: 10px;
}

div.navigator ol {
	display: flex;
	flex-flow: row wrap;
	/*align-content: flex-start;*/
	list-style: none;
	margin: auto;
	margin-left: 0;
}

.nav-item {
	text-align: center;
	display: block;
	text-align: center;
	max-width:20%;
	/*position: relative;*/
	padding-left: 5px;
	margin-left: 5px;
}

.nav-item a:link {
	text-decoration: none;
	color: #777785
}

.nav-item a:visited {
	text-decoration: none;
	color: #777785
}

.nav-item a:hover {
	text-decoration: none;
	color: #00445f
}

.nav-item + .nav-item {
	border-left: solid 2px #00445f;
}

.nav-item:first-child {
	padding-left: 0em!important;
	margin-left: 0em!important;
	align: left;
}

.twocolumn {
	display: grid;
	grid-auto-flow: column;
	column-count: 2;
	align-items: center;
	justify-items: center;
	width: 75%;
	margin: auto;
}

.twocolumn div {
	column-width: 50%;
	text-align: left;
}

strike {
	text-decoration: solid 2px #660000 line-through;
}

.banner img {
	width: 20%;
	margin: auto;
}

.ramsay {
	font-family: ramsay-writes;
	color: #660000;
}

button {
	margin-bottom: 10px;
}


.full-width img {
	width: 100%;
	height: auto;
}

a[target="_blank"]:after {
	content: "(↱)";
}

@media only screen and (max-width: 980px) {
/* CSS for mobile devices here */

html {
	max-width: 96%;
	width: 96%;
	margin: auto;
	margin: 0 auto!important;
	text-align: center;
}

body {
	width: 96%;
	margin: 0 auto!important;
	max-width: 96%;
}

div.navigator ol {
}

.nav-item {
	display: 0;
	width: 27%;
	max-width: 27%;
	text-align: center;
	margin: auto;
	margin-left: 0;
	padding-left: 0;
	padding-top: 10px;
}

.nav-item + .nav-item {
	border-left: none;
}

div.navigator ol {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	font-size: 11pt;
	flex-flow: row wrap!important;
}

div.logo_text_lang {
	width: 100%;
	margin: auto;
}


blockquote {
		width: 98%;
		margin: 0;
		margin-top: 15px;
		margin-right: 5px;
		border-left: none;
		padding: 0;
}

.twocolumn {
	display: grid;
	grid-auto-flow: row;
	column-count: 1;
	align-items: center;
	justify-items: center;
	width: 100%;
	margin: auto;
}

.twocolumn div {
	column-width: 100%;
	text-align: left;
}

div.logo_text_lang img.logo {
	height: auto;
	padding-left: 10px;
	margin-left: 0;
}

.logo_text_lang img {
	max-width: 75%;
	height: auto;
}
}
